:root {
  --primary-color: #161459;
  --secondary-color: #010326;
  --third-color: #010326;
  --fourth-color: #3c74a6;
  --fifth-color: #5abfad;

  --color-bird: rgb(43, 2, 69);
  --color-title: rgba(55, 6, 36, 0.6);
  --color-title-full: #370624;
  --color-second: #feb93f;
}
.primary-color {
  color: var(--primary-color);
}

.bg-second {
  background-color: var(--secondary-color);
}
img {
  width: 100%;
  padding: 10px;
}

body {
  background-color: #fef5ed;
}

#gov-label {
  color: #370624;
}

#h3-media {
  color: #370624;
}

h1 {
  color: var(--color-title-full);
}
.img-sizer {
  width: 50%;
  height: 50%;
}
/* .border {
    border: 2px solid var(--fourth-color);
} */

/* Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
} */

footer {
  background-color: var(--color-title);
}
footer a,
footer span {
  color: var(--color-second);
}
header {
  border-color: var(--color-title);
}

#gov-label {
  margin-left: 25px;
}

/* Media Queries */
/* @media screen and (max-width: 415px) {
  .items-center {
    display: flex;
    flex-direction: column;
  }

  .my-2 {
    display: flex;
    flex-direction: column;
  }

  #job-search {
    display: flex;
    flex-direction: column;
  }

  .media-con {
    display: flex;
    flex-direction: column;
  }

  .radio-primary {
    margin-right: 55px;
  }

  label {
    margin-left: 25px;
  }

  #h3-media {
    margin-left: 25px;
    border-bottom: solid gray 1px;
  }
} */

button:hover {
  transform:scale(1.3,1.3);
  -webkit-transform:scale(1.3,1.3);
  -moz-transform:scale(1.3,1.3);
  box-shadow: 3px 3px 5px grey;
}

.dark-mode {
  background-color: black;
  color: white;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* Add KeyFrame Yo Yo spinning logo */