:root {
  --primary-color: #161459;
  --secondary-color: #010326;
  --third-color: #010326;
  --fourth-color: #3c74a6;
  --fifth-color: #5abfad;

  --color-bird: rgb(43, 2, 69);
  --color-title: #370624;
  --color-second: #feb93f;
}
.primary-color {
  color: var(--primary-color);
}

.bg-second {
  background-color: var(--secondary-color);
}
img {
  width: 100%;
  padding: 10px;
}

h1 {
  color: var(--color-title);
}
.img-sizer {
  width: 50%;
  height: 50%;
}
/* .border {
    border: 2px solid var(--fourth-color);
} */

/* Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

footer {
  margin-top: auto;
  color: var(--color-second);
  background-color: var(--color-title);
}
